doctype html
html(lang='en' id='h')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/htmlBody.css')
    link(rel='stylesheet', href='/stylesheets/cube1.css')
    link(rel='stylesheet', href='/stylesheets/cube2.css')
    link(rel='stylesheet', href='/stylesheets/animationCube.css')
    link(rel='stylesheet', href='/stylesheets/tables.css')
    link(rel='stylesheet', href='/stylesheets/cloth.css')
    link(rel='stylesheet', href='/stylesheets/point.css')
    link(rel='stylesheet', href='/stylesheets/establishOfPoints.css')
    script(src='/javascripts/direction.js')
  body
    span(id='infoMessage', class='info-message') Press Enter or click wherever
    div(id='table1', class='t1') 0
    div(id='table2', class='t2') 0
    div(id='nickPlace1', class='np1')
    div(id='nickPlace2', class='np2')
    div(id='cloth' class='clothStyle')
      div(id='name') #{name}
      div(id='opponent') #{opponent}
    div(class='container1')
      div(id='cube1', class='cube1 showbf1')
        div(id='one', class='face1 front1')
          div(class='pointWhite center-point')
        div(id='two', class='face1 back1')
          div(class='pointWhite top-left-point')
          div(class='pointWhite bottom-right-point')
        div(id='three', class='face1 right1')
          div(class='pointWhite top-point')
          div(class='pointWhite left-point')
          div(class='pointWhite right-point')
        div(id='four', class='face1 left1')
          div(class='pointWhite left-top-point')
          div(class='pointWhite right-top-point')
          div(class='pointWhite left-bottom-point')
          div(class='pointWhite right-bottom-point')
        div(id='five', class='face1 top1')
          div(class='pointWhite left-top-point')
          div(class='pointWhite right-top-point')
          div(class='pointWhite center-point')
          div(class='pointWhite left-bottom-point')
          div(class='pointWhite right-bottom-point')
        div(id='six', class='face1 bottom1')
          div(class='pointWhite left-top-point')
          div(class='pointWhite center-top-point')
          div(class='pointWhite right-top-point')
          div(class='pointWhite left-bottom-point')
          div(class='pointWhite center-bottom-point')
          div(class='pointWhite right-bottom-point')
    div(class='container2')
      div(id='cube2', class='cube2 showbf2')
        div(id='one2', class='face2 front2')
          div(class='pointBlack center-point')
        div(id='two2', class='face2 back2')
          div(class='pointBlack top-left-point')
          div(class='pointBlack bottom-right-point')
        div(id='three2', class='face2 right2')
          div(class='pointBlack top-point')
          div(class='pointBlack left-point')
          div(class='pointBlack right-point')
        div(id='four2', class='face2 left2')
          div(class='pointBlack left-top-point')
          div(class='pointBlack right-top-point')
          div(class='pointBlack left-bottom-point')
          div(class='pointBlack right-bottom-point')
        div(id='five2', class='face2 top2')
          div(class='pointBlack left-top-point')
          div(class='pointBlack right-top-point')
          div(class='pointBlack center-point')
          div(class='pointBlack left-bottom-point')
          div(class='pointBlack right-bottom-point')
        div(id='six2', class='face2 bottom2')
          div(class='pointBlack left-top-point')
          div(class='pointBlack center-top-point')
          div(class='pointBlack right-top-point')
          div(class='pointBlack left-bottom-point')
          div(class='pointBlack center-bottom-point')
          div(class='pointBlack right-bottom-point')
    audio(id='soundDice' src='/soundsOfDice/throwDice1.mp3')
    audio(id='soundCoin1' src='/soundsOfDice/throwCoin1.mp3')
    audio(id='soundCoin2' src='/soundsOfDice/throwCoin2.mp3')