doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/titlePageStyle.css')
    link(rel='stylesheet', href='/stylesheets/imgClass.css')
    link(rel='stylesheet', href='/stylesheets/canvasStyle.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src='/javascripts/titlePageDirection.js')
    script(data-ad-client="ca-pub-1271237772808445" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
  body
    block content
