doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/imgClass.css')
    link(rel='stylesheet', href='/stylesheets/canvasStyle.css')
    script(src='/javascripts/titlePageDirection.js')
  body
    block content
