.h-1 {
    position: absolute;
    top: 20px;
    left: 400px;
    background-color: black;
    color: whitesmoke;
    font: 50px "Comic Sans MS";
}

.h-2 {
    position: absolute;
    top: 100px;
    left: 500px;
    background-color: black;
    color: whitesmoke;
    font: 25px "Comic Sans MS";
}

.table-style {
    position: absolute;
    top: 150px;
    left: 350px;
    border: 1px solid silver;
    background-color: whitesmoke;
}

td, th {
    width: max-content;
    border: 2px solid silver;
}

.about-me {
    position: absolute;
    top: 270px;
    left: 250px;
    background-color: black;
    font: 15px "Comic Sans MS";
    color: whitesmoke;
    text-align: center;
    padding: 20px;
}

.links-on-projects {
    position: absolute;
    top: 370px;
    left: 110px;
    background-color: black;
    font: 15px "Comic Sans MS";
    color: whitesmoke;
    text-align: center;
    padding: 20px;
}

.partnership {
    position: absolute;
    top: 570px;
    left: 130px;
    background-color: red;
    font: 15px "Comic Sans MS";
    color: black;
    text-align: center;
    padding: 5px;
}

.my-photo-small {
    position: absolute;
    top: 20px;
    left: 1150px;
    width: 200px;
    height: 250px;
}

.my-photo-big {
    position: absolute;
    top: 20px;
    left: 400px;
    width: 600px;
    height: 600px;
    z-index: 1000;
}

.triangle-style {
    position: absolute;
    top: 250px;
    left: 1120px;
}

@keyframes triangle-animate {
    from {
        transform: rotate3d(0, 0, 1, 0);
    }
    to {
        transform: rotate3d(0, 0, 1, 180deg);
    }
}

.triangle-animate {
    animation-name: triangle-animate;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes triangle-animate1 {
    from {
        transform: rotate3d(0, 0, 1, 180deg);
    }
    to {
        transform: rotate3d(0, 0, 1, 0);
    }
}

.triangle-animate1 {
    animation-name: triangle-animate1;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.div-mobile-style {
    padding: 10px;
    border: 5px solid whitesmoke;
    text-align: center;
}

.img-mobile-style {
    border: 5px solid whitesmoke;
}